<mat-toolbar color="basic" role="heading">
  <span>Todo App v-3</span>
  <span class="example-spacer"></span>
  <button *ngIf="!userIsAuthenticated" mat-raised-button color="accent" routerLink="/signup">
   <span>Sign up</span>
 </button>
 <button *ngIf="!userIsAuthenticated" mat-raised-button color="warn" routerLink="/login">
   <span>Login</span>
 </button>
 <button *ngIf="userIsAuthenticated" mat-raised-button color="primary" routerLink="/pixela">
   <span>Pixela</span>
 </button>
 <button *ngIf="userIsAuthenticated" mat-raised-button color="accent" routerLink="/todos/create">
   <span>Create</span>
 </button>
 <button *ngIf="userIsAuthenticated" mat-raised-button color="warn" (click)="onLogout()" routerLink="/login">
   <span>Logout</span>
 </button>
</mat-toolbar>
